# Ignore data-folders outside the root, these are copied around to build
# directories.
data/
!/data/

docs/

bundle/
!/other/bundle/

.DS_Store
.ninja_deps
.ninja_log
CACHEDIR.TAG
CMakeCache.txt
CMakeFiles
CMakeSettings*
CMakeUserPresets.json
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Debug
Makefile
Release
SAN.*
_CPack_Packages/
build.ninja
checksummed_*
cmake_install.cmake
debug
gmock.pc
gmock_main.pc
googletest-build/
googletest-download/
googletest-src/
gtest.pc
gtest_main.pc
install_manifest*.txt
ninja_package
pack_*/
release
rules.ninja
testrunner\[1\]_include.cmake

/SDL2.framework

# Android
local.properties

# Ignore all the generated executables without extensions (for non-Windows
# systems).
logger_example
strings_example

# But we still should allow to download mastersrv/twping sources
!src/mastersrv
!src/twping

generated
target

/build*
/integration_test/*

# IDE project files
.cache
.cproject
.cmake
.gdb_history
.idea
.project
.settings
.vs
.vscode
compile_commands.json
cmake-build-*/*
cscope.files
cscope.out
out
tags
# don't ignore this, it's used for the vscode workspace that ddnet provides
!ddnet-cmake-tools-kits.json

*.a
*.cmd
*.csv
*.dll
*.dmg
*.dtb
*.dylib
*.exe
*.fifo
*.filters
*.lnk
*.log
*.opensdf
*.patch
*.pdb
*.prefs
*.pyc
*.res
*.sdf
*.sln
*.so
*.spv
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.suo
*.swp
*.tar.gz
*.tar.xz
*.teehistorian
*.tmp
*.user
*.vcxproj
*.zip
